/* BEFORE OOCSS */
/*
.container {
	width: 960px;
	padding: 10px;
	border: solid 2px #2980b9;
	border-radius: 8px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

.box {
	overflow: hidden;
	min-height: 150px;
	width: 95%;
	padding: 10px;
	border: solid 2px #2980b9;
	border-radius: 8px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}

.button {
	display: inline-block;
	padding: 10px;
	border: solid 2px #2980b9;
	border-radius: 8px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}
*/

/* AFTER WITH OOCSS */

.container {
	width: 960px;
}

.box {
	overflow: hidden;
	min-height: 150px;
	width: 95%;
}

.button {
	display: inline-block;
}

.skin {
	padding: 10px;
	border: solid 2px #2980b9;
	border-radius: 8px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.5);
}